<div class="container" id="main-container">
  <div class="row">
    <div class="col-12 mb-3">
      <button type="button" class="btn btn-success" (click)="onOpenModal('add')">Dodaj Novi Autobus</button>
    </div>
    <div *ngFor="let autobus of autobusi" class="col-md-6 col-xl-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ autobus?.slikaAutobusa }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ autobus?.marka }}</h5>
          <p class="card-text">Recenica o prevozniku. Ili dve recenice.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ autobus?.sedisteKompanije }}</li>
          <li class="list-group-item">{{ autobus?.brojTelefonaKompanije }}</li>
          <li class="list-group-item">{{ autobus?.emailKompanije }}</li>
        </ul>
        <div class="card-body">
          <a href="{{ autobus?.sajtKompanije }}" class="card-link">Sajt</a>

          <a (click)="onOpenModal('uredi', autobus)" class="btn btn-primary card-link fa fa-pencil" data-placement="top"
             data-original-title="Uredi">Uredi</a>
          <a (click)="onOpenModal('obrisi', autobus)" class="btn btn-danger card-link fa fa-times" data-placement="top"
             data-original-title="Obrisi">Obrisi</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Dodaj Autobus/Prevoznik Modal -->
  <div class="modal fade" id="dodajAutobusModal" tabindex="-1" role="dialog" aria-labelledby="dodajAutobusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dodajAutobusModalLabel">Dodaj prevoznika</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onDodajAutobus(addForm)">
            <div class="form-group">
              <label for="marka">Marka</label>
              <input type="text" ngModel name="marka" class="form-control" id="marka" placeholder="Marka" required>
            </div>

            <div class="form-group">
              <label for="model">Model</label>
              <input type="text" ngModel name="model" class="form-control" id="model" placeholder="Model" required>
            </div>

            <div class="form-group">
              <label for="brojSedista">Broj Sedista</label>
              <input type="number" ngModel name="brojSedista" class="form-control" id="brojSedista" placeholder="Broj Sedista" required>
            </div>

            <div class="form-group">
              <label for="sedisteKompanije">Sedište Kompanije</label>
              <input type="text" ngModel name="sedisteKompanije" class="form-control" id="sedisteKompanije" placeholder="Sedište Kompanije" required>
            </div>

            <div class="form-group">
              <label for="brojTelefonaKompanije">Broj Telefona Kompanije</label>
              <input type="text" ngModel name="brojTelefonaKompanije" class="form-control" id="brojTelefonaKompanije" placeholder="Broj Telefona Kompanije" required>
            </div>

            <div class="form-group">
              <label for="emailKompanije">Email Kompanije</label>
              <input type="email" ngModel name="emailKompanije" class="form-control" id="emailKompanije" placeholder="Email Kompanije" required>
            </div>

            <div class="form-group">
              <label for="sajtKompanije">Sajt Kompanije</label>
              <input type="text" ngModel name="sajtKompanije" class="form-control" id="sajtKompanije" placeholder="Sajt Kompanije" required>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Sacuvaj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Uredi Autobus/Prevoznik Modal -->
  <div class="modal fade" id="urediAutobusModal" tabindex="-1" role="dialog" aria-labelledby="urediAutobusModalLabel" aria-hidden="true" #urediModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dodajAutobusModalLabel">Uredi prevoznika</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" (ngSubmit)="onUrediAutobus(editForm)">

            <div class="form-group">
              <label for="marka">ID</label>
              <input type="text" [(ngModel)]="urediAutobus.id" name="id" class="form-control" id="id" placeholder="id" required>
            </div>

            <div class="form-group">
              <label for="marka">Marka</label>
              <input type="text" [(ngModel)]="urediAutobus.marka" name="marka" class="form-control" id="marka" placeholder="Marka" required>
            </div>

            <div class="form-group">
              <label for="model">Model</label>
              <input type="text" [(ngModel)]="urediAutobus.model" name="model" class="form-control" id="model" placeholder="Model" required>
            </div>

            <div class="form-group">
              <label for="brojSedista">Broj Sedista</label>
              <input type="number" [(ngModel)]="urediAutobus.brojSedista" name="brojSedista" class="form-control" id="brojSedista" placeholder="Broj Sedista" required>
            </div>

            <div class="form-group">
              <label for="sedisteKompanije">Sedište Kompanije</label>
              <input type="text" [(ngModel)]="urediAutobus.sedisteKompanije" name="sedisteKompanije" class="form-control" id="sedisteKompanije" placeholder="Sedište Kompanije" required>
            </div>

            <div class="form-group">
              <label for="brojTelefonaKompanije">Broj Telefona Kompanije</label>
              <input type="text" [(ngModel)]="urediAutobus.brojTelefonaKompanije" name="brojTelefonaKompanije" class="form-control" id="brojTelefonaKompanije" placeholder="Broj Telefona Kompanije" required>
            </div>

            <div class="form-group">
              <label for="emailKompanije">Email Kompanije</label>
              <input type="email" [(ngModel)]="urediAutobus.emailKompanije" name="emailKompanije" class="form-control" id="emailKompanije" placeholder="Email Kompanije" required>
            </div>

            <div class="form-group">
              <label for="sajtKompanije">Sajt Kompanije</label>
              <input type="text" [(ngModel)]="urediAutobus.sajtKompanije" name="sajtKompanije" class="form-control" id="sajtKompanije" placeholder="Sajt Kompanije" required>
            </div>

            <div class="modal-footer">
              <button type="button" (click)="onCloseModal" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
              <!--<button type="button" class="btn btn-primary" (click)="onUrediAutobus(editForm.value)">Sacuvaj</button>-->
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Sacuvaj</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="obrisiAutobusModal" tabindex="-1" role="dialog" aria-labelledby="obrisiAutobusModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Obrisi prevoznika</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Da li ste sigurni da zelite da obrisete prevoznika?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ne</button>
            <button (click)="onObrisiAutobus()" class="btn btn-danger" data-bs-dismiss="modal">
              Da
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Notifikacije ako nema prevoznika. -->
  <div *ngIf="autobusi!.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NIJE PRONADJEN NI JEDAN PREVOZNIK!</h4>
      <p>Zao nam je, nismo nasli prevoznike!</p>
    </div>
  </div>
</div>
