<div class="container">
  <form #pretragaForm="ngForm" (ngSubmit)="pretraziLinije(pretragaForm)">
    <div class="form-group">
      <label for="polazna">Polazna stanica:</label>
      <input type="text" id="polazna" name="polazna" ngModel class="form-control">
    </div>
    <div class="form-group">
      <label for="dolazna">Dolazna stanica:</label>
      <input type="text" id="dolazna" name="dolazna" ngModel class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Pretraži</button>
    <button type="button" class="btn btn-secondary" (click)="resetujPretragu()">Resetuj</button>
  </form>

  <div *ngIf="linije.length > 0">
    <h3 *ngIf="isPretraga">Rezultati pretrage</h3>
    <h3 *ngIf="!isPretraga">Sve linije</h3>
    <div *ngIf="linije.length === 0">
      <p>{{ porukaNemaRezultata }}</p>
    </div>

    <ul>
      <li *ngFor="let linija of linije">
        {{ linija.polaznaStanica }} - {{ linija.dolaznaStanica }}
     
      </li>
    </ul>
  </div>

  <div *ngIf="linije.length === 0">
    <p>Nema rezultata za prikaz.</p>
  </div>
</div>
